:root {
 --single-code: #fc5858;
 --code-block: #ff3d3d;
}

.answer {
 background: #141414;
 padding: 0.5rem 0.8rem 0.8rem 0.8rem;
 margin: 0.6rem 0; border-radius: 0.3rem
}

details {
 margin: 0.4rem 0;
}

hr {
 margin: 0.6rem;
}

a {
 text-decoration: none;
}

summary:hover {
 cursor: pointer;
 margin: 0 0.5px;
}
